
EDM.API/.vs/EDM.API/v16/.suo
EDM.API/.vs/EDM.API/v16/Server/sqlite3/storage.ide
EDM.API/.vs/EDM.API/config/applicationhost.config
EDM.API/.vs/EDM.API/v16/.suo
EDM.API/.vs/EDM.API/v16/Server/sqlite3/storage.ide
EDM.API/EDM.API/bin/EDM.API.pdb
EDM.API/EDM.API/bin/EDM.BusinessAccessLayer.pdb
EDM.API/EDM.API/bin/EDM.DataAccessLayer.pdb
EDM.API/EDM.API/obj/Debug/EDM.API.csproj.FileListAbsolute.txt
EDM.API/EDM.API/obj/Debug/EDM.API.csprojAssemblyReference.cache
